<h1>Info</h1>
<br>
<body>
    Argumento de entrada: {{argumentoDeEntrada}},<br>
    Nombre de la plataforma: {{plataforma}},<br>
    Version de node: {{versionNode}},<br>
    Memoria total reservada: {{memoria}},<br>
    Path: {{path}},<br>
    Process Id: {{processId}},<br>
    Carpeta del proyecto: {{capetaDelProyecto}}
</body>